// Header

header {
    background-color: #83ba36;
    padding: 10px 25px 10px 25px;
    // Flex Styling
    display: flex;
    justify-content: space-between;
    //
    a {
        text-decoration: none;
        color: $dark;
    }
}
