// Footer

footer {
    color: $dark;
    font-size: 0.9em;
    padding: $section-padding;
    background-color: transparent;
    // Flex Styling
    display: block;
    text-align: center;
    //

    margin: 0px 0px 30px 0px;
    p {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    // Social Media
    a {
        color: $dark;
    }
    span :not(.twitter-icon) {
        margin-right: 10px;
    }
    .footer-column {
        margin: 25px 0px;
    }
    .footer-column img {
        width: 25px;
        height: 100%;
    }
    .footer-column img:hover {
        opacity: 0.8;
        transition-duration: 0.4s;
    }
    //
    @media only screen and (min-width: 500px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
