// Header

header {
    background-color: blue;
    margin: 10px 0px 50px 0px;
    padding: 0px 25px;
    // Flex Styling
    display: flex;
    justify-content: space-between;
    //
    a {
        text-decoration: none;
        color: $dark;
    }
}
