// Wrapper

.wrapper {
    max-width: 1000px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main {
        flex: 1;
    }
    @include mc;
}
