// Settings

// Colors
$dark: #1c1c1c;
$light: #fcfcfc;
$grey: #cec3c2;
$darkGrey: #29343a;
$orange: #eb7020;
$lightOrange: #f5b890;
$veryLightOrange: #fbe2d2;
$darkOrange: #bc5a1a;

// Type
$bodyFont: "Libre Baskerville", serif;
$headingFont: "Spartan", sans-serif;

// Layout
$section-padding: em(16) em(20);
